
/* ------------------------------------------------------------------------------------------------------------------------------ */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.displayNone{
  display: none;
}

.transparent{
  opacity: 0;
}

.pointer{
  cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------------------------------------ */

/* 
<!-- //................................................................................................................................................................
//.......................................................................................................................................ddddd....................
//.......................................................................................................................................ddddd....................
//.......................................................................................................................................ddddd....................
//.......................................................................................................................................ddddd....................
//.......................................................................................................................................ddddd....................
//.......................................................................................................................................ddddd....................
//....cccccccccc.......oooooooooo.....ommmmmmmmmmmm..mmmmmmmm....mmmmmmmmmmmmm..mmmmmmm......aaaaaaaaaaa....annnnnnnnnnnnn.......ddddddddddddd....sssssssssss.....
//...cccccccccccc.....oooooooooooo....ommmmmmmmmmmmmmmmmmmmmmm...mmmmmmmmmmmmmmmmmmmmmmm....aaaaaaaaaaaaa...annnnnnnnnnnnnn.....dddddddddddddd...sssssssssssss....
//..cccccccccccccc...oooooooooooooo...ommmmmmmmmmmmmmmmmmmmmmm...mmmmmmmmmmmmmmmmmmmmmmmm...aaaaaaaaaaaaa...annnnnnnnnnnnnnn...ddddddddddddddd...ssssssssssssss...
//.ccccccccccccccc..oooooooooooooooo..ommmmmmmmmmmmmmmmmmmmmmm...mmmmmmmmmmmmmmmmmmmmmmmm..maaaaaaaaaaaaaa..annnnnnn.nnnnnnn..nddddddddddddddd..dssssss.sssssss...
//.cccccc...cccccc..oooooo....oooooo..ommmmm...mmmmmmm..mmmmmm...mmmmmm...mmmmmmm..mmmmmm..maaaaa...aaaaaa..annnnnn...nnnnnn..nddddd....dddddd..dsssss...ssssss...
//.cccccc..........cooooo......oooooo.ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm...mmmmmm...........aaaaaa..annnnn....nnnnnn..nddddd....dddddd..dsssssss..........
//.ccccc...........cooooo......oooooo.ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm.......aaaaaaaaaa..annnnn....nnnnnn..ndddd......ddddd..dsssssssssss......
//.ccccc...........cooooo......oooooo.ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm....aaaaaaaaaaaaa..annnnn....nnnnnn..ndddd......ddddd...sssssssssssss....
//.ccccc...........cooooo......oooooo.ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaaaaaaaaaaaa..annnnn....nnnnnn..ndddd......ddddd....sssssssssssss...
//.ccccc...........cooooo......oooooo.ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaaaaaaaaaaaa..annnnn....nnnnnn..ndddd......ddddd......ssssssssssss..
//.cccccc..........cooooo......oooooo.ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaaa...aaaaaa..annnnn....nnnnnn..nddddd....dddddd..........ssssssss..
//.cccccc...cccccc..oooooo....oooooo..ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaa....aaaaaa..annnnn....nnnnnn..nddddd....dddddd..dsssss....ssssss..
//.ccccccccccccccc..oooooooooooooooo..ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaaaaaaaaaaaa..annnnn....nnnnnn..nddddddddddddddd..dssssss.ssssssss..
//..cccccccccccccc...oooooooooooooo...ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaaaaaaaaaaaa..annnnn....nnnnnn...ddddddddddddddd..dssssssssssssss...
//...cccccccccccc.....oooooooooooo....ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm..maaaaaaaaaaaaaa..annnnn....nnnnnn....dddddddddddddd...ssssssssssssss...
//....cccccccccc.......oooooooooo.....ommmmm...mmmmmm....mmmmm...mmmmmm...mmmmmm....mmmmm...aaaaaaaaaaaaaaa.annnnn....nnnnnn.....ddddddddddddd....sssssssssss.....
//................................................................................................................................................................ --> */

body{
	background-color: #a3c0c7
}

.header{
  width: 100%;
  height: 100%;
  text-align: center;

  margin-top: 19%;
  font-size: 3em;
	z-index: -1;
}

.content{

  margin-top: 3%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black!important;
  display: inline-block;

}

.content:last-of-type{
  margin-bottom: 5%;
}

.list{


}



.sidenav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
	margin-top: 7%;
	margin-left: 82.6%;

}



ul li{
  color: transparent;

}



#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-left: -7%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
	margin-bottom: 5%;

}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
	width: 70%;
	margin-left: 10%;
}

#myUL li a.link{
	color: blue;
  text-decoration: underline;
  cursor: pointer;
	border: none;
	margin-top: 0;
	background-color: white;
	padding: 0;

	font-size: inherit;

	display: inline;
	width: 100%;
	margin-left: 0;
}




#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.inputTitle{
	position: sticky!important;
	top: 0;
	z-index: 1;
	font-size: 3em;
	margin-left: 23%;
	width: 80%;
}

.decoration{
	color: #53ba23;
	font-size: 0.9em;
	display: inline;
	position: fixed;
	margin-left: -12.8%;
	margin-top: -16.8%;
	z-index: -2;
	transform: rotate(-13deg);
}
.decorationP{
	color: #53ba23;
	font-size: 0.9em;
  display: inline;
	position: fixed;
	margin-left: -65.8%;
	margin-top: 31.8%;
	z-index: 0;
	transform: rotate(-13deg);
}

.show {
  transition: opacity 400ms;
  display: inline-block;
}
.hide {
  display: none;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 900px) {
  .sidenav .bootProcess{
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 20px;
		left: 10px;
		overflow-x: hidden;
		margin-top: 25%!important;
		margin-left: 55%!important;
	}

}
